rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Colección: cars (Inventory)
    // Regla: Cualquiera puede leer la lista de vehículos (para la tienda).
    // Regla: Solo un usuario autenticado puede crear, actualizar o eliminar vehículos.
    match /inventory/{carId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Support legacy collection request if needed
    match /cars/{carId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /config_segura/admins {
      allow read: if request.auth != null; // Cualquiera logueado puede leer quién es admin
      allow write: if false; // NADIE puede escribir aquí desde la web, solo tú desde la consola
    }
  }
}
